div.about {
	display: inline-block;
	vertical-align: top;
	margin: 20px 0;
}

div.about h1 {
	text-align: left;
	margin: 15px 0 10px 0;
}
div.about h2 {
	text-align: center;
	font-size: large;
}

div.about.right {
	max-width: 33%;
}

div.about.left {
	max-width: 66%;
}

div.about.left p.myName {
	font-size: large;	
	font-weight: bold;
	margin: 0px;
}

div.about.right img {
	width: 100%;
	border: solid #700000 3px;
}

