/* Main Styling */
html, body {
	margin: 0;	
	padding: 0;	
	font-family: 'Fenix', serif;
	height: 100%;
	min-width: 450px;
}

.content {
    margin: 0 auto;
    padding: 0px 20px;
}

/* Header Font Styling */
h1, h2, header, footer {
	font-family: 'Hammersmith One', sans-serif;
}

/* Header styling */
header {
	background-color: #700000;
	height: 150px;	
}

header h1 {
	color: white;
	text-align: center;
	margin: 0;
	padding: 30px 0 20px 0;
}

header img{
	position: absolute;
	top: 20px;
}

/* Nav bar styling */
nav {
	text-align: center;
	padding: 16px;
}

div.fixedNav {
	width: 100%;
	position: fixed;
	top: 0px;
	background-color: #700000;

	display: none;
}
div.fixedNav img {
	height:80%;
	position: absolute;
	top: 5px;
}

nav ul {
	padding: 0px;
	margin: 0px;
}

nav ul li{
	margin: 0px 2px;
}

nav ul li, footer ul li {
	display: inline-block;	
}

nav ul li a.highlighted {
	background-color: rgb(190,110,83);
}
nav ul li a {
	background-color: rgb(176,66,55);
	border: solid #282828 1px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px 10px;
    transition: all .25s;
}


nav a:link {     /* unvisited link */
	text-decoration: none;
	color:white;
} 
nav a:visited {color:white;}  /* visited link */
nav a:hover {	/* mouse over link */
	/*padding: 5px 12px;*/
	background-color: rgb(202,139,83) !important;
	cursor: pointer;
}  
nav a:active { 	/* selected link */
	color:#0000FF;
}

/* Footer Styling */
#container {
	min-height: 100%;
	position: relative;
}

#body {
	padding: 0 10px 100px 10px;
}

footer {
	background-color: #700000;
	padding-bottom: 20px;
	position: absolute;
	bottom: 0;
	width: 100%;
}

footer h2 {
	/*font-size: large;*/
	color: white;
	text-align: center;
	margin: 0;
	padding: 10px 0;
}

footer ul {
	margin: 0px;
	padding: 0px;
	text-align: center;
}

footer li {
	padding: 0px 10px 10px 10px;
}

footer a {
	color: white;
	transition: all .25s;
}
footer a:hover {
	color: rgb(202,139,83);
}
footer a:active {
	color:#0000FF;
}

/* Other Styling */
div.content {
	max-width: 860px;
	display: block;
}

div.content li div.codeInput{
	margin: 10px 0;
}

div.codeInput {
	max-width: 75%;
	min-width: 280px;
	border: solid black 1px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 5px;
	background-color: rgb(70,70,70);
	color: white;
}

section {
	margin-bottom: 30px;
}

.modal {
	position: fixed;
	top: 0;
	background-color: black;
	opacity: .5;
	width: 100%;
	height: 100%;
	z-index: 100;
}

.dialog {
	text-align: center;
	font-weight: bold;
	padding: 10px;
	position: fixed;
	z-index: 100;
	background-color: white;
	border: solid black 1px;
	border-radius: 5px;
	width: 50%;
	top: 50%;
	left: 25%;
}

.dialogButtons {
	border-top: solid gray 1px;
	margin-top: 10px;
	padding-top: 5px;
	text-align: right;
}

.popupImg {
    width: 100%;
}

/* RWD styling */
@media screen and (max-width: 600px) {
	html {
		font-size: 1.5em;
	}
	nav {
		padding-top: 0;
	}
	header {
		height: 175px;
	}
	header h1{
		display: inline-block;
		vertical-align: top;
	}
	header img{
		position: inherit;
		display: inline-block;
		margin: 20px 0 10px 0; 
		width: 70px;
	}
	#body{
		padding-bottom: 150px;
	}
	div.codeInput {
		max-width: 90%;
		
	}
}